html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  margin: 0;
}

/*site container*/
.container {
  max-width: 960px;
  margin: 0 auto;
}

/*division header*/
.header {
  background-color: black;
  color: white;
}

.logo {
  font-size: 1rem;
  padding: .60rem .5rem;
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/*main banner*/
.banner {
  background-image: url("../images/moto.jpg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: black;
  color: white;
  font-weight: bold;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9em;
}

.headline span {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

/*nav bar*/
.nav-bar {
  background-color: firebrick;
  color: white;
}

.desktop nav {
  display: flex;
  justify-content: space-between;
}

.mobile nav {
  justify-content: center;
  display: none;
}

nav {
  padding: 0.75rem;
}

/*product grid*/
.image img {
  height: 9rem;
  max-width: 10rem;
  padding: 2rem;
}

.grid {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.product {
  border: 4px solid black;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.label {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

/*center operation*/
.center-info {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 4rem 0;
}

.info {
  flex-basis: 35%;
}

.center {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

#footer {
  background-color: black;
  color: white;
  height: 5rem;
  padding-top: 4rem;
}


/*media queries for tablet viewports*/
@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  .desktop nav {
    display: none;
  }

  .nav-bar.mobile nav {
    display: flex;
  }

  .product {
    flex-basis: 45%;
  }

  .glasses {
    display: none;
  }

  .info {
    flex-basis: 35%;
  }
}

/*media queries for mobile viewports*/
@media only screen and (max-width: 470px) {
  h3 {
    font-size: 0.95rem;
  }

  .banner {
    height: 15rem;
  }

  .headline {
    width: 100%;
    top: 9.5rem;
    padding: 1rem 2rem;
  }

  .headline span {
    font-size: 0.77rem;

  }

  h2 {
    font-size: 1rem;
  }

  .nav-bar.mobile nav {
    width: 100%;
    margin-top: 5px;
  }

  .watch {
    display: none;
  }

  .grid {
    justify-content: center;
  }
  .product {
    flex-basis: 90%;
  }

  .center-info {
    flex-direction: column;
    margin: auto 13px;
    }

  .hq {
    display: block;
    padding: 20px 0;
  }

  #footer {
    text-align: center;
  }
}

/*media query for smallest viewport*/
@media only screen and (max-width: 279px) {
  .nav-bar.mobile nav {
    display: none;
  }
}
